*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

body{
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    flex-direction: column;

}
form{
    margin: auto;
    padding: 0.5em 2em;
    background-color: rgb(155, 159, 163);
    width: 35%;
    min-width: 300px;
}
input{
    width: 100%;
    margin-bottom: 0.5em;
}
label{
    font-size: 0.8em;
}




.first{
    font-size:1.8em;
}
.unico{
    margin-top: 0.5em;
}
.unico input{
    width: auto;
    display: inline-block;
}
.unico span{
    font-size: 1em;
    width: auto;
    display: inline-block;
}
.registrarse{
    margin-left: 0.5em;
}

.opciones{
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.entrar{
    background-color: rgb(76, 76, 193);
    color: white;
    border: 2px solid rgb(76, 76, 193);
    font-size: 1em;
}
.entrar:hover{
    color: rgb(76, 76, 193);
    background-color: white;
    border-color: rgb(76, 76, 193);
}
.error{
    font-size: 0.7em;
    color: red;
}


@media (max-width: 400px) {
    form{
        
        padding: 0.5em 2em;
        background-color: rgb(155, 159, 163);
        width: 98%;
        margin: 1em auto;
    }
    body{
        height: auto;
        display: inline-block;
    }
}